# JetBrains *Storm project settings
.idea/*

# Remote repository files and compiled source files. You really shouldn't check these in at any time unless
# you have exceptionally good reason to do so.
bower_components/
node_modules/
src/
gulp/
setup/
docs/
.DS_Store

# You probably don't want to check compiled service workers in either.
sw.js
.DS_Store
.DS_Store
